*{
    margin: 0;
    box-sizing: border-box;
}
.footer-side{
    background-color: rgb(18, 18, 18);
    
    color: rgba(255, 255, 255, 0.625);
}
.logo-side img{
    width: 25%;
    margin-top: 40px;
}
th{
    font-weight: 100;
}
.copyright{
    font-weight: 100;
    font-size: smaller;
}